* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding: 50px 5vw;
}

.user {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  align-items: center;
}

h2 {
  font-size: 18px;
  margin: 0px;
  font-weight: 500;
  color: rgba(0,0,0,0.8);
  width: 250px;
}

h3 {
  font-size: 16px;
  margin: 0px;
  font-weight: 400;
  color: rgba(0,0,0,0.7);
}

input[type="checkbox"] {
  margin-right: 10px;
}